# Runs all tests - including the very expensive simulation ones in tests/test_selection.py
name: All Tests

on:
  workflow_dispatch:

jobs:
  test-all:
    # Runs tests
    if: github.repository == 'JoKra1/mssm'
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python for Coverage
        uses: actions/setup-python@v5
        with:
          python-version: '3.13.2'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install numpy==2.2.6 scipy==1.15.3 
          pip install .
      - name: Test with pytest
        run: |
          pip install pytest pytest-cov mssmViz==0.1.48 numdifftools
          pytest ./tests --cov=mssm --cov-report=xml --cov-report=html
        
      # Also store coverage as artifact
      - uses: actions/upload-artifact@v4
        with:
          name: coverage
          path: |
            coverage.xml
            ./htmlcov/index.html