# Based on https://github.com/actions/starter-workflows/blob/main/pages/static.yml
name: documentation

on:
    push:
        branches:
            - main
    workflow_dispatch:

permissions:
  contents: write
  pages: write
  id-token: write

jobs:
    docs:
      if: github.repository == 'JoKra1/mssm'
      environment:
        name: github-pages
        url: ${{ steps.deployment.outputs.page_url }}
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v4
        - name: Set up Python for Docs
          uses: actions/setup-python@v5
          with:
            python-version: '3.x'
        - name: Install mssm & dependencies
          run: |
              python -m pip install --upgrade pip
              pip install .
        - name: Install mssmViz
          run: |
              pip install mssmViz==0.1.48
        - name: Install sphinx
          run: |
                pip install sphinx sphinx-rtd-theme myst-nb
        - name: Build Docs
          run: |
                sphinx-build docs docs/_build
        - name: Upload artifact
          uses: actions/upload-pages-artifact@v3
          with:
            path: './docs/_build'
        - name: Deploy to GitHub Pages
          id: deployment
          uses: actions/deploy-pages@v4